*{
    font-family: "Lateef";
    box-sizing: border-box;
}

body {
    margin: 0 10%;
    background-image: url("../images/random_grey_variations.png");
}
.container {
    background-color: #fff;
}

/* Layout */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%, 75em);
    margin: 0 auto;
    padding: 0 20px;
}

.container > * {
grid-column: span 12;
padding-inline: 20px;
}

.banner-area {
    position: relative;
    padding-top: 0%;
}

.banner-area h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size: clamp(75px, 4vw, 48px);
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    opacity: 80%;
}

.intro-box {
    max-width: 550px;
    width: auto;
    padding-inline: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    margin-inline: auto;
    margin-block-start: -100px;
    z-index: 1;
    backdrop-filter: blur(20px);
    text-align: center;
    position: relative;
}
    
aside {
    text-align: center;
    padding-top: 20px;
}

header {
    text-align: center;
    background-image:url('images/portfolio.jpg');
    padding: 30px 40px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}


img {
    width: 100%;
}

/*Navagation*/

#nav-menu {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

#nav-menu ul {
    display: none; 
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-menu ul li {
    display: inline-block;
    color: #fff;
    padding: 20px;
}

#nav-menu li a {
    display: inline-block;
    color: #fff;
    padding: 12px 20px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 90px;
    transition: all 0.2s ease;
    min-width: 150px;
    text-align: center;
}

#nav-menu li.active a,
#nav-menu li a:hover {
    background-color: #666;
}

#toggle-button {
    margin-left: auto;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.125em;
    transition: 0.2s all;

}

#toggle-button:hover,
#toggle-button:focus {
    background-color: #fff;
}

#toggle-button:focus {
    background-color: #fff;
}

#nav-menu ul.active + #toggle-button {
    position: absolute;
    top: 12px;
    right: 16px;
}

/* Button Style */

a.button {
    display: block;
    min-width: 200px;
    padding: 16px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 50%; */
    text-decoration: none;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-weight: 600;
    border: 2px solid black;
}

a.button:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 8px 28px -10px rgba(0,0,0,0.56);
    color: #fff;
}

a.button:active {
    background-color: rgb(154, 156, 157);
}

a.button:visited {
    
}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .social-item {
    text-align: center;
    font-family: inherit;
    font-size: 14px;
  }
  
  .social-icon {
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .social-icon:hover {
    background-color: #444;
    transform: scale(1.1);
  }
  
  

/* Card styles */
.card {
    max-width: 550px;
    width: auto;
    padding-inline: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    margin-inline: auto;
    margin-block-start: 20px;
    backdrop-filter: blur(20px);
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.card-text {
    padding: 0 2rem;
}

.socialmediacard {
        max-width: 300px;
        width: auto;
        padding-inline: 50px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.65);
        margin-inline: auto;
        margin-block-start: 20px;
        backdrop-filter: blur(20px);
        text-align: center;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
}

footer {
    text-align: center;
}

/* Desktop Layout */

@media (min-width: 40em) {
    #nav-menu ul {
        display: flex;
        flex-direction: row;
    }
    #toggle-button {
        display: none;
    }
    a.button {
        display: inline-block;
    }
    .col-span-8{
        grid-column: span 8;
    } 
    .col-span-4{
        grid-column: span 8;
    }
    
    .work-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    .card {
        flex: 0 1 284px;
    }
}

/* Mobile Layout */

@media (max-width: 40em) {
#nav-menu ul.active {
    display: flex;
    flex-direction: column;
    }
}

.bottom-btn-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-block: 20px;
}